body {
    text-align: center;
}

h1 {
    font-family: "Roboto";
    font-size: 30px;
    color: steelblue;
    margin-bottom: 30px;
}

div {
    margin-top: 20px;
    width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: seashell;
}

table {
    width: 100%;
    border: 1px solid khaki;
}

th {
    font-family: "Sans-Serif";
    font-size: 18px;
    color: olive;
    margin-bottom: 30px;
}

td {
    font-family: "Sans-Serif";
    font-size: 15px;
    color: rosybrown;
    margin-bottom: 30px;
}
